<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialKeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SerialKeys.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="VK0" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="VK1" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="VK2" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="VK3" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="VK4" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="VK5" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="VK6" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="VK7" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="VK8" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="VK9" serializeAs="String">
                <value />
            </setting>
            <setting name="VK10" serializeAs="String">
                <value />
            </setting>
        </SerialKeys.Properties.Settings>
    </userSettings>
</configuration>